alabaster==0.7.10
Babel==2.4.0
cloudpickle==0.2.2
configobj==5.0.6
coverage==4.3.4
docutils==0.13.1
doit==0.30.3
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==0.23
nose==1.3.7
pkginfo==1.4.1
Pygments==2.2.0
python-gitlab==0.21
pytz==2017.2
requests==2.14.2
requests-toolbelt==0.8.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.6
twine==1.9

