---
name: "Angreal Tests"

on:  # yamllint disable-line rule:truthy
  push:
    branches:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-11-01
          override: true
          components: rustfmt, clippy
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files

  cargo-build:
    name: "cargo build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-11-01
          override: true
      - uses: Swatinem/rust-cache@v1
      - run: cargo build --all

  angreal-tests-linux:
    name: "angreal run-tests linux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install maturin pytest
      - run: maturin build
      - run: pip install .
      - run: angreal run-tests

  angreal-tests-windows:
    name: "angreal run-tests windows"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install maturin pytest
      - run: maturin build
      - run: pip install .
      - run: cargo test -v -- --nocapture --test-threads=1
      - run: python -m pytest -svv

  angreal-tests-macosx:
    name: "angreal run-tests macos"
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install maturin pytest
      - run: maturin build
      - run: pip install .
      - run: cargo test -v -- --nocapture --test-threads=1
      - run: python -m pytest -svv

  typos:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v2
      - name: Spell Check
        uses: crate-ci/typos@master
        with:
          files: ./src
      - name: Spell Check
        uses: crate-ci/typos@master
        with:
          files: ./docs/content
      - name: Spell Check
        uses: crate-ci/typos@master
        with:
          files: ./python
      - name: Spell Check
        uses: crate-ci/typos@master
        with:
          files: ./py_tests
      - name: Spell Check
        uses: crate-ci/typos@master
        with:
          files: ./tests
